* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  flex: 1;
}

nav {
  flex: 1;
}

.cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo img {
  width: 10%;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #707070;
}

.product {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  min-height: 90vh;
  color: #707070;
}

.img-product img {
  transform: translateY(-90px);
}

.text-product p {
  margin: 30px 0;
  font-size: 25px;
}

.text-product h2 {
  font-size: 45px;
}

button {
  background-color: #F67F68;
  border: none;
  color: #49494E;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}

.big-spher {
  position: absolute;
  top: 0;
  right: 0;
}

.med-spher {
  position: absolute;
  top: 40%;
  right: 30%;
}

.small-spher {
  position: absolute;
  bottom: 0;
  left: 25%;
}

@media screen and (max-width : 950px) {
  .product {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  .product h2 {
    font-size: 30px;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  .text-product p {
    font-size: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
  }
}